__Python Basic__

__Data Type__

In [8]:
x="hello"
type(x)

str

In [26]:
x=20
print(type(x))
x

<class 'int'>

20

In [27]:
x=20.3
print(type(x))
x

<class 'float'>

20.3

In [28]:
x=23j
print(type(x))
x

<class 'complex'>

23j

In [29]:
x=[1,2,3,57,4567,3456]
print(type(x))
x

<class 'list'>

[1, 2, 3, 57, 4567, 3456]

In [21]:
x=(1,2,3,4)
print(type(x))
x=1,23,45
print(type(x))
x

<class 'tuple'>
<class 'tuple'>

(1, 23, 45)

In [18]:
x=range(3)
print(type(x))
x

<class 'range'>

range(0, 3)

In [20]:
x = {'banana','apple','peach','plum','kiwi'}
print(type(x))
x

<class 'set'>

{'apple', 'banana', 'kiwi', 'peach', 'plum'}

In [30]:
x={"apple":1 ,"banana":2 ,"plum":3}
print(type(x))
x

<class 'dict'>

{'apple': 1, 'banana': 2, 'plum': 3}

In [31]:
x= True
print(type(x))
x

<class 'bool'>

True

In [32]:
x = b"hello"
print(type(x))
x

<class 'bytes'>

b'hello'

__Python Number__

In [34]:
x = 12
y = 23.4657
z = 32.j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [35]:
x=2
y=12345678
z=-3456787653
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [36]:
x=.2
y=1234.5678
z=-34.56787653
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [45]:
x=25e3
y=12345e678
z=-8775e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [46]:
x=2.j
y=12345678+3j
z=-345j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

__Python casting__

In [51]:
x= int(1)
y=int(23.46)
z=int("3")

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [52]:
x=float(34)
y=float(1234.678)
z=float("12345")
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>